<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "${i18n('app.name')} ${i18n('user.title')}"> 
<div class="col-md-6 col-md-offset-3">
	<h2>${i18n("user.title")}</h2>
	<form id="userForm" class="form-group form-error-label" action="/user/new" method="post">
		<@authenticityForm/>
		<div class="contact-form">
			<label>${i18n("name")}</label><span class="required">*</span><h5 class="contact-us-form-error">${(flash.invalidName!)}</h5>
			<input class="form-control" type="text" id="name" name="name" value="${(flash.name!)}" 
			placeholder="Minimum 3 characters" />
		</div>
		<div class="contact-form">
			<label>${i18n("email")}</label><span class="required">*</span><h5 class="contact-us-form-error">${(flash.invalidEmail!)}</h5>
			<input class="form-control" type="email" name="email" value="${(flash.email!)}" placeholder="${i18n('email')}"/>
		</div>
		<div class="contact-form">
			<button id="submitForm" class="btn btn-success form-control">${i18n("button.save")}</button>
		</div>
		</form>
<form id="userForm1" class="form-group form-error-label" action="/user/delete" method="post">
<div class="contact-form">
			<button id="deleteUSer" class="btn btn-success form-control">${i18n("button.delete")}</button>
		</div>
	</form>
</div>

</@layout.myLayout>